*,
*::before,
*::after {
    box-sizing: border-box;
}
header{
    font-family: "Roboto",
            sans-serif;
}
.page-hearder{
    text-decoration: none;
    font-family: "Roboto",
            sans-serif;
} 
h1{
    background-color: rgba(46, 47, 66, 1);
    font-family: "Roboto", sans-serif;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: aliceblue;
    text-align: center;
}
.button{
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: var(--white);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color:rgba(77, 90, 229, 1);
text-align: center;
}

body {
    font-family: system-ui,
        -apple-system,
        sans-serif;
}

  ul {
      list-style-type: none;
  }

  .page-nav .link {
    text-decoration: none;
  }
h2 {
    text-align: center;
}
.text {
    padding: 20px;
    background-color: #fff;
    border: 2px dashed #212121;
    text-align: center;
}
footer{
    background-color: rgba(46, 47, 66, 1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: aliceblue;
}
.bot{
    color: aliceblue;
}


    