header {
    padding: 0%;
    
    
}
.page-hearder{
    text-decoration: none;
} 
body {
    font-family: system-ui,
        -apple-system,
        sans-serif;
}

  ul {
      list-style-type: none;
  }

  .page-nav .link {
      text-decoration: none;
  }














  
    main{
    h1{
    padding: 5% ;
    }
    h2 {
            text-align: center;
        }

    button{
    padding: 0%;
    background: var(--iris);
    margin: auto;
    
    }
    section{
    display: inline;
    }
    
body {
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tahoma';
   
}
button,
ul,
ol {
    list-style-type: none;
}
}
}


    